
  <%= form_tag("/users/<%= params["users"]["id"] %>", method: "post") do %>
    <p>Pick story to delete</p>
    
    <select name= "users[id]">
      <%@users.each do|u| %>
      <option value= "<%= u.id  %>>" - "<%= u.email %>"</option>
      <% end %>
    </select>
      
    <input type= "hidden" name="_method" value= "delete">
    
    <input type="submit">
<% end %>
