  <%= form_tag("/users/<%=params["id"]%>", method: "post") do %>
    <p>Enter information to Edit User </p>
    
    <input type= "hidden" name="_method" value= "put">
    <input type= "text" name="users[email]" value= "<%= @users.email %>">
    
    <input type="submit">
<% end %>