
  <%= form_tag("/users/<%= @user.id %>/stories", method: "post") do %>
    <p>Enter Story</p>
    <input type="text" placeholder= "Story Title" name="story[title]">
    
    <input type="submit">
  <% end %>